# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Data files
*.csv
*.xlsx

# Environment & credentials
.env
credentials.json

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/